#header {
    width: 100%;
    background-color: #851e3e;
    height: 50px

}
.container {
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
}
#left {
    text-align: center;
    width: 50%;
    height: 400px;
    float:left;
    list-style: none;
    background-color: #bd4aa7;
    text-transform: uppercase;
    color:white;
}

#right {
    text-align: center;
    width: 50%;
    height: 400px;
    float:right;
    list-style: none;
    background-color: #6497b1 ;
    color: white;
    text-transform: uppercase;
}
#clear {
    clear: both;
}
a {
    color: white;
}
* {
    color: white;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    width: auto;
    height: auto;
 }
